* {
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
}

textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 1vh;
}

button {
    width: 20%;
    margin-bottom: 10px;
}

.new {
    word-wrap: break-word;
    background-color: rgba(202, 231, 255, 0.415);
}